html, body {
  min-height: 100%;
  resize: both;
}

h1 {
  text-align: center;
  border: 3px solid green;
}

#bankDisplay {
  background-color: black;
  color: white;
  font-size: 16px;  
  margin-top: 10px;
  padding: 15px 32px;
  border: 1px solid #ccc;
  border-radius: 25px;
  display: inline-block;
}

#chipCount {
  font-weight: bold;
  color: green; 
}

#pot {
  font-weight: bold;
  color: blue; 
}

#handButton, #callButton, #checkButton, #myForm {
  background-color: #04AA6D; 
  border: none;
  border-radius: 25px; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#foldButton {
  background-color: rgb(226, 72, 72); 
  border: none;
  border-radius: 25px; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.cardContainer {
  position: relative;
  top: 0;
  left: 0;
}

.tableImage {
  position: relative;
  border: 1px red solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.card {
  max-width: 100%;
  height: auto;
  position: absolute;
  width: 4.5%;
}

#flopDisplay, #turnDisplay, #riverDisplay {
  display: inline;
}
